<div class="dark-body-only">
  <!-- page-wrapper Start-->
  <div class="page-wrapper"  id="canvas-bookmark">

    <div class="page-main-header">
      <div class="main-header-right row">
        <div class="main-header-left d-lg-none">
        </div>
        <div class="nav-right col p-0">
          <h1>Your Doctor</h1>
        </div>
      </div>
    </div>

    <!-- Page Body Start-->
    <div class="page-body-wrapper" >
      <div class="page-sidebar" id="pages-sidebar">
        <!-- <app-sidebar></app-sidebar> -->
      </div>
      <div class="page-body">
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
      <!-- footer start-->
      <footer class="footer">
        <!-- <app-footer></app-footer> -->
      </footer>
      <!-- footer End-->
    </div>
    <!-- Page Body End-->
  </div>
  <!-- page-wrapper End-->
</div>
